@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.App {
  text-align: center;
  font-family: 'Manrope', sans-serif !important;
}

.MuiBox-root[class*="css"]:focus{
  outline: 0 !important;
}