.login {
  background: url("../../images/swoopb.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 30px;
}

.logo img {
  width: min(100px, 25%);
}

.title {
  font-size: 60px;
  font-weight: 800;
}

.title > div {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.loginP form input {
  width: min(320px, 90%);
  border-radius: 60px;
  margin: 5px 0;
}

.loginP > div {
  margin: 15px 0;
  font-weight: 700;
  font-size: 30px;
}

.loginP input {
  border: none;
}

.loginP input:focus {
  outline: none;
}

.loginP form > input {
  height: 50px;
  padding-left: 30px;
  box-sizing: border-box;
  margin: 5px;
}

.loginP form div > input {
  height: 40px;
  background: linear-gradient(92.78deg, #eb3349 -0.35%, #f45c43 98.87%);
  box-shadow: 0px 6px 16px rgba(243, 177, 50, 0.16);
  color: #fff;
}

.footer {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  padding: 0 20px;
}
